<center><p>Now it's time for some math fun, <%=name%>!<br> 
Your three favorite numbers are <%=favnum1%>, <%=favnum2%> and <%=favnum3%>.<br>
If we add them together we get <%=sum%><br></p></center>
<center>
<img class="sizeimage" align="middle" src="/math.jpg">
    </img>
    </center>
    <br>

<center>
<p>Now give me a number $1.00 or less to break up into the fewest coins.</p>
<br>

<form method = "post" action = "/change">
	<input type = "number"  name = "jingle">
	<input type = "hidden" name = "input_name" value = <%=name%>>
	<input type = "submit">
</form>
</center>